.tap-switch-drawer
{
  padding-right: 40px;
  padding-left: : 20px;
}

.tap-menu-top
{
	margin-right: 30px;
}

.tap-top-drawer
{
background-color: #555;
}

.tap-menu-top  .mdl-navigation__link:hover {
    border-bottom: 4px solid #fff;
}

.tap-menu-top .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
}
